name: vertical_timeline_widget
description: "A customizable Timeline widget for Flutter to display chronological data with time information, titles, and visual indicators."
version: 0.0.8
repository: https://github.com/DivyanshVish/vertical_time_line_widget

environment:
  sdk: ^3.7.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
